body{
    margin: 0 1.1% 0 0;
    background-color:#3f495c;;
color: blanchedalmond;
font-family: 'Bellota', cursive;
position: relative;
padding-right: 0;
    
}
header{
    background-color: #068acc;
    width: 101%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
   
    
}
nav ul{
    width: 100%;
    
}

nav li{
    margin-left: 5%;
    list-style-type: none;
    display: inline-block;
}

#nav-sm a:hover{
           color: #000;
}
nav a, nav a:hover, #c-icons a, #c-icons a:hover,  #nav-sm a:hover{
    color: white;
}
#nav-sm{
    display: none;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    
}
#nav-sm a{
    text-decoration: none;
    color: #777575;
    font-family: sans-serif;
    font-size: 15px;
    transition: 0.5s ease;
}
#hamberger{
   width: 25px;
   height: 25px;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   transition: 0.5s ease;
   display: none;


}
#hamberger span{
    width: 100%;
    height: 2px;
    background-color: #f5eeef;
    margin-top: 3px;
    
}

.toggle .item1{
    transform: rotate(45deg) translate(0px, 12px);
}
.toggle .item2{
  opacity: 0;
}
.toggle .item3{
  transform: rotate(-45deg) translate(0px, -12px);
}


#nav{
    display: flex;
}
#c-icons{
    display: flex;
}
#close{
    font-size: x-large;
    display: none;
    cursor: pointer;
}

.skills h1{
    font-size: 50px;
    font-style: oblique;
    font-weight: bolder;
    animation: blinky 1s linear infinite;
}
@keyframes blinky{
    25%{color: rgb(247, 142, 128);}
    50%{color: rgb(92, 247, 105);}
    75%{color: rgb(233, 243, 95);}
    100%{color: rgb(142, 227, 248);}
}

.projects div{
    height: 300px;
    position: relative;
    
}
.projects img{
   height: 100%;
   width: 100%;
}

.projects a{
    text-decoration: none;
    color: white;

}
footer{
    background-color: #0292da;
}

footer ul li{
    list-style-type: none;
    color: rgb(226, 223, 223);
    
}
footer ul strong{
    color: white;
}
footer a,i{
    color: white;
    font-size: large;
    margin-right: 5px;
}








@media only screen and (max-width:570px){
    
    #hamberger{
        display: flex;
        transition: 0.5s ease;

        
    }
    #hamberger span{
        transition: 0.5s ease;
    }
    #hamberger span:hover{
        background-color: black;
    }
    body{
        margin: 0;
        
    }
    header{
        width: 103%;
    }
    #nav-sm{
        position: absolute;
        left: -400px;
        top: 8vh;
        width: 0%;
        height: 200px;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
        transition: 1s ease;
    }
    #nav-sm a{
        color: #fff;
        font-size: 18px;
    }
    #nav-sm a:hover{
        transform: scale(1.3);
        letter-spacing: 2px;
    }
   
  
   
}
@media only screen and (max-width:690px){
  
    #nav{
        display: none;
    }
    #c-icons{
        display: none;
    }
    footer div{
        margin-left: 12%;
    }
}

